*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box{
    background: #ececec;
    padding: 30px;
    border-radius: 8px;
    width: 350px;
    box-shadow: 2px 10px 15px rgba(0,0,0,0.1);
}

h1{
    text-align: center;
    color: #b83b5e;
}
h3{
    text-align: center;
}
#prompt{
    color: #c59999;
}

a{
    color: #a87070;;
}

p{
    margin-bottom: 15px;
    color: #666;
    text-align: center;
}

label{
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input:focus{
    outline: none;
    border-color:  #b83b5e;
}

button{
    background-color: #b83b5e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 10px auto;
    width: fit-content;
}

button:hover{
    background-color: #9b2d4c;

}
#signU{
    text-decoration: none;
    color: white;
}