{% load static %}
<footer class="footer">
    <div class="footer-grid">
      <div class="footer-column">
        <div class="logo-text">
          <img src ="{% static 'images/APWEN.png'%}" alt="APWEN logo">
        </div>
        <p>Empowering women in engineering across Nigeria since 1982.</p>
      </div>
      <div class="footer-column">
        <h4>Quick Links</h4>
        <a href="/">Home</a>
        <a href="/about-us">About Us</a>
        <a href="/events">Events</a>
        <a href="/resources">Resource Hub</a>

      </div>
      <div class="footer-column">
        <h4>Mission Statement</h4>
        <p>
          To continously increase awareness that Engineering is a career for girls also, thereby improving the numerical strength of female Engineers. 
        </p>
      </div>
      <div class="footer-column">
        <h4>Contact info</h4>
        <p>Location: Suite 5, Ground gloor NSE NEC building, Lagos-No 1 Engineering close off idowu Taylor Street Victoria Island Lagos, Nigeria.</p>
        <p>Phone: +234 8033653955</p>
        <p>Email: info@apwen.org</p>
        <div class="social-links">
          
          <a href="https://www.instagram.com/apwen_abuzaria_collegiate/p/DE85_OfosJj/" class="social-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" x2="17.51" y1="6.5" y2="6.5"></line></svg>
          </a>
         
          <a href="https://www.linkedin.com/company/apwen-abu-zaria-collegiate" class="social-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect width="4" height="12" x="2" y="9"></rect><circle cx="4" cy="4" r="2"></circle></svg>
          </a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2025 APWEN, ABU Collegiate Chapter. All rights reserved.</p>
    </div>
  </footer>
