{% extends "base.html" %}
{% load static %}

{% block title %}Home | APWEN{% endblock %}

{% block content %}
   
<div class="main">
    <h1>ABOUT US</h1>
    <H3>OUR HISTORY</H3>
    <P>The association of Professional Women Engineers of Nigeria APWEN<br> was formed by a handful of women engineers led by Engr. (Mrs.)
    J.O Maduka in 1982 and was formally inaugurated <br> in 1983. It was originally meant to be a pressure group since most men hiring engineers then would rather have women
<br>in the kitchen and not on construction site or behind the desk carrying out engineering designs. </P><br><br>
<h3>OUR MISSION</h3>
<p>To continously increase awareness that engineering is a career for girls also, thereby
  <br>improving the numerical strength of females engineers.
</p><br><br>
<h3>OUR VISION</h3> 
<p> be the catalyst for the advancement of women in the engineering profession<br>towards national and global technological developmen.t </p><br><br>
<h3>OUR OBJECTIVES</h3> 
<p>To provide a forum for promoting soronity amongst female engineers.</p><br><br>
<h3>OUR WORK</h3> 
<p>Since 1982 APWEN has recorded a level of achievement of her objective by advancing professionals knowledge <br>of members through:<br> Facilitation of continuing profesional development workshops<br>organising industrial visitsvto engineering facilities<br>career counselling sessions for female students in Primary,Secondary and Tertiary institutions.</p>



</div><br><br><br>

{% endblock %}
