
{% extends "base.html" %}
{% load static %}

{% block title %}Home | APWEN{% endblock %}

{% block content %}


      <!-- Hero Section -->
      <section class="hero-section">
        <div class="hero-content">
          <h1>Mentorship Programs with APWEN</h1>
          <P>APWEN's Mentorship Program empowers aspring female engineers by connecting them with experienced professionals for guidance, skill-building, and career growth. Together, we're bridging the gender gap and fostering a supportive network for women in engineering.
          </P>
        </div>
        <div class="hero-image">
          <img src="{% static 'images/mentor.jpg'%}" alt="Women engineers working together" class="img">
        </div>
      </section>

      <!-- Programs Section -->
      <section class="programs-section">
        <h2>Our Programs</h2>
        <div class="programs-grid">
          <div class="program-card">
            <div class="badge">Flexible  |  Free</div>
            <h3>Peer to Peer</h3>
            <p>Mentorship on a peer to peer level.</p>
            <a href="https://www.apwen.org.ng" target="_blank" class="card-link">Learn more →</a>
          </div>
          <div class="program-card">
            <div class="badge">Flexible  |  Free</div>
            <h3>Senior to Junior</h3>
            <p>Mentorship with experienced seniors.</p>
            <a href="https://www.apwen.org.ng" target="_blank" class="card-link">Learn more →</a>
          </div>
          <div class="program-card">
            <div class="badge">Flexible  |  Free</div>
            <h3>Professionals <br>to Students</h3>
            <p>Mentorship with professionals.</p>
            <a href="https://www.apwen.org.ng" target="_blank" class="card-link">Learn more →</a>
          </div>
          <div class="program-card">
            
            <h3>Alot More......</h3>
            <p>Build your professional network with like-minded women in engineering</p>
            <a href="https://www.apwen.org.ng"  target="_blank" class="card-link">Learn more →</a>
          </div>
        </div>
      </section>

      <!-- Events Section -->
      <section class="events-section">
        <h2><a href="/mentorship"><button class="primary-button">Match with a Mentor</button></a></h2>
      </section>

{% endblock %}
